# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Insert keyCode'
      'command': 'keycode-insert:insert'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Keycode Insert'
      'submenu': [
        {
          'label': 'Insert'
          'command': 'keycode-insert:insert'
        }
      ]
    ]
  }
]
